.layout {
  background: var(--bg);
}

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 10vh;
  background-color: #00000010;
}

.content {
  height: 100%;
  min-height: 90vh;
}

.title {
  margin: 0;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
